<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Brownie Bakery</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="main-body">
   
    <header>
        <nav>
            <div class="my-row clearfix">
                <a href="@Url.Action("Index","Home")"> <img src="~/images/Logo.png" class="logo"> </a>
                <ul class="main-nav animated slideInDown" id="Check-Class">
                    <li>@Html.ActionLink("Sign Up", "SignUp", "Account")</li>
                    <li>@Html.ActionLink("Terms & Conditions", "Terms", "Home")</li>
                    <li>@Html.ActionLink("Privacy Policy", "Private", "Home")</li>
                    <li> @Html.ActionLink("About US", "About", "Home")</li>
                </ul>

                <a href="#" class="mobile-navigation" onclick="slideshow()">
                    <i class="fa fa-bars"> </i>
                </a>
            </div>
        </nav>

        @RenderBody()
    </header>



    <div>
        <footer class="TradeMark">
            <p>2020 &copy; The Brownie Bakery By ADITYA BHATT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        function slideshow() {
            var x = document.getElementById('Check-Class');
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

    </script>
</body>
</html>
